[submodule "external/imgui_markdown"]
    path = external/imgui_markdown
    url = https://github.com/juliettef/imgui_markdown.git
[submodule "external/FunctionalPlus"]
    path = external/FunctionalPlus
    url = https://github.com/Dobiasd/FunctionalPlus.git
[submodule "external/hello_imgui"]
    path = external/hello_imgui
    url = https://github.com/pthom/hello_imgui.git
[submodule "external/ImGuiColorTextEdit"]
    path = external/ImGuiColorTextEdit
    url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "external/python-memory-importer"]
    path = external/python-memory-importer
    url = https://github.com/shabbywu/python-memory-importer.git
[submodule "external/py-scripts"]
    path = external/py-scripts
    url = https://github.com/BattleBrothersGameCN/py-scripts.git
[submodule "external/NutCracker"]
    path = external/NutCracker
    url = https://github.com/shabbywu/NutCracker.git
